<!DOCTYPE html>
<html lang="en">

<script>
    function send_api(){

    var input_text = document.getElementById("input_text").value

    try {     
        const response = fetch('http://localhost:5000/', {
        method: 'post',
        body: JSON.stringify(
            {
                "inputText": input_text
            }
            ),
        headers: {
                'Content-Type': 'application/json'
            }
        }
        );
        console.log('Completed!', response);
    } 
    catch(err) {
        console.error(`Error: ${err}`);
    }
}

function reset()
{
    document.getElementById("input_text").value = ""
}
</script>

<head>
    <meta charset="UTF-8">
    <title>Grammar Correction</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="static/css/layout.css" type="text/css">
</head>

<body>
    <h1>Grammar Correction</h1>

    <div class="inline-div">
        <p align="center">Input text</p>
        <textarea id="input_text" cols="80" rows="20" class="inline-input-txtarea"
        name="inputText" placeholder="Type something to perform grammar correction"></textarea>></textarea>
    </div>

    <div class="inline-div">
        <p align="center">Corrected text</p>
        <textarea id="output_text" cols="80" rows="20" class="inline-output-txtarea" 
        name="outputText" disabled></textarea>></textarea>
    </div>

    <div class="submit_button">
        <input type="button" value="Submit" id="post-btn", class="submit-button", onclick="send_api();">
    </div>

    <div class="reset_button">
        <input type="button" value="Clear" id="post-btn", class="reset-button", onclick="reset();">
    </div>
    
</html>

<!-- Add text to text area on button click -->
<!-- <script>
    function input(){
        var text = "here the text that you want to input.";
        document.forms.form1.area.value = text;
    }    
    </script>
    <form name='form1'>
        Click<input onclick='input()' type='button' value='BUTTON' id='button'><br>
        <textarea name='area'></textarea>
    
    </form> -->
    