<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Grammar Correction</title>

    <!-- Link favicon, CSS and JS files to HTML file -->
    <link rel="icon" href="static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/layout.css" type="text/css">
    <script src="{{ url_for('static', filename='js/button_actions.js') }}"></script>
</head>

<body>
    <h1>Grammar Correction</h1>

    <div class="inline-div">
        <p align="center">Input text</p>
        <textarea id="input_text" cols="80" rows="17" class="inline-input-txtarea"
        name="inputText" placeholder="Type something to perform grammar correction"></textarea>></textarea>
    </div>

    <div class="inline-div">
        <p align="center">Corrected text</p>
        <textarea id="output_text" cols="80" rows="17" class="inline-output-txtarea" 
        name="outputText" disabled></textarea>></textarea>
    </div>

    <div>
        <input type="button" value="Submit" id="submit-btn", class="submit-button", onclick="send_api();">
    </div>

    <div>
        <input type="button" value="Clear" id="clear-btn", class="clear-button", onclick="reset();">
    </div>

    <div>
        <input type="button" value="View Edits" id="view-edit-btn", class="view-edits-button", onclick="hide_edit_text_area();">
    </div>

    <div>
        <textarea id="text_edits" cols="40" rows="9" class="text-edits-txtarea" 
        name="text-edits" disabled></textarea>></textarea>
    </div>
    
</html>
    